@mixin flex($align: flex-start, $justify: flex-start, $wrap: wrap, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

// grid system
@mixin col-props($i, $columns, $gutter) {
  box-sizing: border-box;
  width: col-width($i, $columns);
  padding: $gutter/2;
}

@mixin grid-base($width) {
  box-sizing: border-box;
  @include flex();
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

@mixin columns-loop($name, $columns, $gutter) {
  @for $i from 0 through $columns {
    &-#{$name}-#{$i} {
      @include col-props($i, $columns, $gutter);
    }
  }
}

@mixin limit-line-text($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin setPositions($top: unset, $bottom: unset, $left: unset, $right: unset) {
  @if $top !=unset {
    top: $top;
  }

  @if $bottom !=unset {
    bottom: $bottom;
  }

  @if $left !=unset {
    left: $left;
  }

  @if $right !=unset {
    right: $right;
  }
}

@mixin sub-menu($bgColor, $borderColor, $minWidth) {
  background-color: $bgColor;
  border: 1px solid $borderColor;
  min-width: $minWidth;
}

@mixin isHidden {
  visibility: hidden;
  opacity: 0;
}

@mixin isShown {
  opacity: 1;
  visibility: visible;
}

@mixin setIconSize($sizes) {
  @each $size in $sizes {
    width: $size;
    height: $size;
  }
}
