* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include media("<tablet") {
    font-size: 50%;
  }
}

body {
  font-size: px(20);
  font-family: sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
